<h2>User Info</h2>
<%= form_with model:@user,url:user_path,method: :patch do |f| %>
<%= f.text_field:name %>
<%= f.file_field:profile_image,accept:'image/*' %>
<%= f.text_area:introduction %>
<%= f.submit "Update User" %>
<% end %>