<div>
  <%= render'layouts/userinfo',user:@user,newbook:@newbook %>
</div>

<h1>Usersの投稿一覧</h1>

<% @books.each do |book| %>
 <%= link_to user_path(@user.id) do %>
 <%= image_tag @user.get_profile_image(80,80) %>
 <% end %>
 <p>Title
 <%= link_to book_path(book.id) do %>
 <%= book.title %>
 </p>
 <% end %>
 <p>Opibion
 <%= book.body %>
 </p>
<% end %>